# Git submodule definitions for this repository
#
# SPDX-License-Identifier: MIT
#

# Microsoft Windows Implementation Libraries (WIL)
[submodule "wil"]
	path = ec/test-win/dep/wil
	url = https://github.com/microsoft/wil
